@model AccesoriosArgentinos.Modelos.PiezaVM
@using Microsoft.AspNetCore.Html;
@{

}
@functions{
#pragma warning disable 1998
    async System.Threading.Tasks.Task MostrarImagen(string rutafoto) {
         
        if (String.IsNullOrEmpty(rutafoto))
        {
                <img src="~/images/icono-persona.png" class="rounded-circle" style="width:75px;height:75px;" />
        }
        else { 
               <img src="@Url.Content("~/images/"+ rutafoto + ".jpg"   )"  style="width:300px;height:300px;" />
        }

    }
#pragma warning restore 1998
}
    <div class="col-12">
        @if( @Model==null || @Model.Pieza.Id==0){
            <h2>Ingresar Pieza</h2>
        }
        else{
            <h2>Modificar pieza : <span>@Model.Pieza.Id</span> </h2>
        }
    </div>
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pieza.MarcaId" class="control-label"></label>
                <select asp-for="Pieza.MarcaId" class="form-control" asp-items="Model.ListaMarcas">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Pieza.Codigo" class="control-label"></label>
                <input asp-for="Pieza.Codigo" class="form-control" />
                <span asp-validation-for="Pieza.Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pieza.Descripcion" class="control-label"></label>
                <input asp-for="Pieza.Descripcion" class="form-control" />
                <span asp-validation-for="Pieza.Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pieza.InyectoraId" class="control-label"></label>
                <select asp-for="Pieza.InyectoraId" class="form-control" asp-items="Model.ListaInyectoras">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Material</label>

                <select asp-for="MaterialId" class="form-control" asp-items="Model.ListaMateriales">
                </select>
                <input type="button" id="btn_AgregarMaterial" value="Agregar"/>
            </div>
            <div class="form-group">
                <label asp-for="Pieza.CodigoFabricacion" class="control-label"></label>
                <input asp-for="Pieza.CodigoFabricacion" class="form-control" />
                <span asp-validation-for="Pieza.CodigoFabricacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pieza.MatrizId" class="control-label"></label>
                <select asp-for="Pieza.MatrizId" class="form-control" asp-items="Model.ListaMatrices">
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Pieza.Peso" class="control-label"></label>
                <input asp-for="Pieza.Peso" class="form-control" />
                <span asp-validation-for="Pieza.Peso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pieza.Bocas" class="control-label"></label>
                <input asp-for="Pieza.Bocas" class="form-control" />
                <span asp-validation-for="Pieza.Bocas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pieza.TiempoDeInyeccion" class="control-label"></label>
                <input asp-for="Pieza.TiempoDeInyeccion" class="form-control" />
                <span asp-validation-for="Pieza.TiempoDeInyeccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pieza.PresionInyeccion" class="control-label"></label>
                <input asp-for="Pieza.PresionInyeccion" class="form-control" />
                <span asp-validation-for="Pieza.PresionInyeccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pieza.VelocidadInyeccion" class="control-label"></label>
                <input asp-for="Pieza.VelocidadInyeccion" class="form-control" />
                <span asp-validation-for="Pieza.VelocidadInyeccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pieza.Curado" class="control-label"></label>
                <input asp-for="Pieza.Curado" class="form-control" />
                <span asp-validation-for="Pieza.Curado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pieza.Carga" class="control-label"></label>
                <input asp-for="Pieza.Carga" class="form-control" />
                <span asp-validation-for="Pieza.Carga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pieza.Calefaccion" class="control-label"></label>
                <input asp-for="Pieza.Calefaccion" class="form-control" />
                <span asp-validation-for="Pieza.Calefaccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pieza.NoyoA" class="control-label"></label>
                <input asp-for="Pieza.NoyoA" class="form-control" />
                <span asp-validation-for="Pieza.NoyoA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pieza.PosicionExpulsor" class="control-label"></label>
                <input asp-for="Pieza.PosicionExpulsor" class="form-control" />
                <span asp-validation-for="Pieza.PosicionExpulsor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pieza.PosicionApertura" class="control-label"></label>
                <input asp-for="Pieza.PosicionApertura" class="form-control" />
                <span asp-validation-for="Pieza.PosicionApertura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pieza.Succion" class="control-label"></label>
                <input asp-for="Pieza.Succion" class="form-control" />
                <span asp-validation-for="Pieza.Succion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pieza.ProduccionPorHora" class="control-label"></label>
                <input asp-for="Pieza.ProduccionPorHora" class="form-control" />
                <span asp-validation-for="Pieza.ProduccionPorHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(p => p.Pieza.Foto)
                <div class="custom-file">
                    @Html.TextBoxFor(p => p.Pieza.Foto, new { type = "file", @class = "form-control custom-file-input" })
                    @Html.LabelFor(p => p.Pieza.Foto, "Seleccionar Foto", new { @class = "custom-file-label" })
                </div>
            </div>


            <div class="form-group">
                <input type="submit" value="Grabar" class="btn btn-primary" />
                <a asp-page="./Index">Cancelar</a>
            </div>
        </form> 
    </div>
    <div class="col-md-4">
         <div class="form-group">
             @if( @Model==null || @Model.Pieza.Id==0){
                   
             }
             else {
                 await   MostrarImagen(Model.Pieza.Codigo) ;
             }
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        
            $('#btn_AgregarMaterial').on('click', function () { 
               var why = $('#MaterialId').val();
               alert(why);
            });
    
    </script> 