@page
@model AccesoriosArgentinos._Pages_OrdenesDetalle.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrdenesProduccionDetalle[0].Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrdenesProduccionDetalle[0].ImpactosVacios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrdenesProduccionDetalle[0].Ajuste)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrdenesProduccionDetalle[0].Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrdenesProduccionDetalle[0].Matriz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrdenesProduccionDetalle[0].Operario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrdenesProduccionDetalle) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImpactosVacios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ajuste)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matriz.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Operario.Id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
