@page
@model AccesoriosArgentinos._Pages_Piezas.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create" class="btn btn-outline-primary btn-sm mb-0 me-3">Crear Nueva</a>
</p>

<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>Listado de piezas</h6>
            </div>




            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Pieza</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Material / Marca</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Employed</th>
                                <th class="text-secondary opacity-7"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Pieza)
                            {
                            <tr>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div>
                                            <img src="../assets/img/team-4.jpg" class="avatar avatar-sm me-3" alt="user6">
                                        </div>
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">@Html.DisplayFor(modelItem => item.Codigo) - @Html.DisplayFor(modelItem => item.Peso)</h6>
                                            <p class="text-xs text-secondary mb-0">@Html.DisplayFor(modelItem => item.Descripcion)</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0">@Html.DisplayFor(modelItem => item.Material.Descripcion)</p>
                                    <p class="text-xs text-secondary mb-0">@Html.DisplayFor(modelItem => item.Marca.Descripcion)</p>
                                </td>
                                <td class="align-middle text-center text-sm">
                                    <span class="badge badge-sm bg-gradient-secondary">@Html.DisplayFor(modelItem => item.CodigoFabricacion)</span>
                                </td>
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold">@Html.DisplayFor(modelItem => item.ProduccionPorHora) @Html.DisplayFor(modelItem => item.Matriz.Id)</span>
                                </td>
                                <td class="align-middle">
                                    <a asp-page="./Edit" asp-route-id="@item.Id">
                                        <i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Editar
                                    </a> |
                                    <a asp-page="./Delete" asp-route-id="@item.Id">
                                        <i class="far fa-trash-alt me-2" aria-hidden="true"></i> Borrar
                                    </a>|
                                    <a asp-page="./Details" asp-route-id="@item.Id">
                                        <i class="fas fa-file-pdf text-lg me-1" aria-hidden="true"></i>Imprimir
                                    </a> 
                                </td>
                            </tr>
                                
                            }
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
</div>