@page
@model AccesoriosArgentinos._Pages_Ordenes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>OrdenesProduccionCabecera</h4>
<hr />
<div class="row">
    <div  >
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrdenesProduccionCabecera.Id" />
            <div class="form-group row">
                <label asp-for="OrdenesProduccionCabecera.InyectoraId" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    @Html.DisplayFor(model => model.OrdenesProduccionCabecera.Inyectora.Id, new { @class = "form-control-plaintext", @readonly = "readonly" })
                </div>
             </div>
             <div class="form-group row">
                <label asp-for="OrdenesProduccionCabecera.FechaCreacion" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    @Html.DisplayFor(model => model.OrdenesProduccionCabecera.FechaCreacion, new { @class = "form-control-plaintext", @readonly = "readonly" })
                </div>
             </div>


                    <input type="hidden" id="hfPersonId" name="OrdenId" asp-for="OrdenesProduccionCabecera.Id" />
                    <div class="form-group">
                        <label class="control-label">Pieza</label>
                        <select name="codigo" class="form-control" asp-items="ViewBag.Piezas"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Cantidad</label>
                        <input name="cantidad" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" asp-page-handler="Pieza" />
                    </div>
</form>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Pieza
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>Material</th>
                    <th>Peso Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in (IEnumerable<AccesoriosArgentinos.Modelos.OrdenesProduccionDetalle>)ViewData["Items"])
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pieza.Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cantidad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pieza.Material.Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PesoTotal)
                        </td>
                        <td>
                            <a asp-page="./Delete" asp-route-id="@item.PiezaId">Borrar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>

    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

