@page
@model AccesoriosArgentinos._Pages_Ordenes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h4>Ordenes de compra</h4>
                <a asp-page="Create" class="btn btn-outline-secondary btn-sm mb-0 me-3">Crear Orden</a>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.OrdenesProduccionCabecera[0].FechaCreacion)
                            </th>
                            <th class="text-center">
                                @Html.DisplayNameFor(model => model.OrdenesProduccionCabecera[0].Inyectora)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrdenesProduccionCabecera)
                        {
                            <tr>
                                <td>
                                    <i class="far fa-calendar-alt me-2" aria-hidden="true"></i>
                                    @Html.DisplayFor(modelItem => item.FechaCreacion)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.Inyectora.Id)
                                </td>
                                <td class="text-center">
                                    <a asp-page="./Edit" asp-route-id="@item.Id">
                                        <i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Editar
                                    </a> |
                                    <a asp-page="./Delete" asp-route-id="@item.Id">
                                        <i class="far fa-trash-alt me-2" aria-hidden="true"></i> Borrar
                                    </a>|
                                    <a asp-page="./Details" asp-route-id="@item.Id">
                                        <i class="fas fa-file-pdf text-lg me-1" aria-hidden="true"></i>Imprimir
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>